.card {
    min-height: 60%;
    max-height: 90%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-content {
    display: flex;
    justify-content: center;
    width: 98%;
}

.card-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and ( max-width: 400px ) {
    .card-content {
        width: 100%;
    }
}
